$specificColor: #F16D7F;
$selectedColor: #EF5B70;
$contentWidth: 1140px;
$cardsGap: 30px;
$contentWidthTablet: 736px;
$cardsGapTablet: 16px;
$contentWidthIPhone: 343px;
$hoverTransitionDelay: 0.3s;
$boxShadow: 17px 19px 24px #EAEAEA;
$cardWidth: 360px;